/*Colors used:
	Primary color-background(grey): #d5d5d5;
	Secondary color (green): #489c79;
	text (black):	#000000
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #d5d5d5;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  /*sets font size to 16px */
  font-weight: 300;
  line-height: 1.6;
  color: #4a4a4a;
}

/*layout styling*/
header {
  background-color: #faac5e;
  padding: 10px 0 4px;
  margin: 10px;
  border-bottom: 3px solid #4a4a4a;

}
main {
  padding-top: 0;
}
footer {
   margin: 10px;
   width: 1200px;
 }
#header {
  background-color: #faac5e;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
  position: relative;
  box-shadow: -webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.75);
  width: 1200px;
}

#header-logo {
  display: inline-block;
  max-width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}

#about-page h3 {
  margin-top: 0;
}

#footer-socialmedia {
  display: inline-block;
  align-content: center;

}


#hero {
  background-color: #ffe4c4;
  padding: 10px 10px;
  display: inline-block;
  width: 1200px;
  margin: 10px;
  box-shadow: -webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.75);
  text-align: center;
}

#hero span {
  display: block;
}

#main h1 {
  text-align: center;
  /*centers text*/
}

#main .row {
  padding-bottom: 25px;
  border-bottom: 1px solid;
}

#work_project1 #work_project2 #social-img {
  display: block;
  max-width: 30px;
  float: left;
  padding: 10px;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.25em;
  font-weight: 700;
}

h2 {
  font-size: 2em;
  font-weight: 700;
}

h3 {
  font-size: 1.5em;
  font-weight: 400;
}

h4 {
  font-size: 1.25em;
  font-weight: 400;
}

img {
  width: 200px;
}

a {
  color: #ff7f50;
  text-decoration: none;
}

a:visited {
  color: #ff7f50;
}

a:hover, a:focus {
  color: #cc6540;
  text-decoration: underline;
}

a:active {
  color: #994c30;
}

/*class "button"*/
.button {
  display: inline-block;
  background-color: #2e4272;
  color: #ffffff;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
}

.container {
  max-width: 1200px;
  padding-left: 10px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0px left and right */
  border-bottom: 1px solid;
  padding-bottom: 10px;
}

.center {
  text-align: center;
}

.logo {
  max-width: 150px;
}
.icon {
  width: 40px;
}
.navtoggle li:not(:last-child) {
  display: none;
}
nav>ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

.photo {
  display: inline-block;
  padding-left: 10px;
  padding-top: 40px;
}

.navigation {
  text-align: left;
}
.navtoggle li:not(:last-child) {
  display: none;
}
.navtoggle, .navtoggle.responsive {
  position: relative;
}
.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}
.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255,127,80,0.5);
}
.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}

[class*="col-"] {
  float: left;
}

/*====
Medium devices (640px and larger)
====*/
@media only screen and (min-width: 641px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }
    nav {
    width: auto;
    float: center;
    margin-top: 4px;
  }
  nav > ul {
  margin: 1em 0;
}
  nav>ul>li {
    display: inline-block;
  }
  .navtoggle li:not(:last-child) {
  display: inline-block;
}

  .col-md-6 {
    width: 50%;
  }
}

/*====
Large devices (1024px and larger)
====*/
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .navtoggle li:last-child {
  display: none;
  }
}

/*====
X-large devices (1440px and larger)
====*/
@media only screen and (min-width: 1440px) {
  .navtoggle li:last-child {
  display: none;
}
}

/*====
Extra-large devices (1920px and larger)
====*/
@media only screen and (min-width: 1920px) {
  .navtoggle li:last-child {
  display: none;
}
}

@keyframes color-change {
  from {
    fill: #edc655;
  }

  to {
    fill: #f76414;
  }
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  ;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
.flex-box{
  display: flex;
  flex-direction: row;
  justify-content: center;

}
