/*Colors used:
	Primary color-background(grey): #d5d5d5;
	Secondary color (green): #489c79;
	text (black):	#000000
*/
body{
	background-color: #d5d5d5;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	/*sets font size to 16px */
	font-weight: 300;
	line-height: 1.6;
	color: #4a4a4a;
}
header{
	background-color: #faac5e;
	padding: 10px;
	margin: 10px;
	border-bottom: 3px solid #4a4a4a;
}
#header {
	background-color: #faac5e;
	padding-top: 10px;
	padding-bottom: 30px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 10px;
}
#header-logo{
	width: 50%;
	float:right;
	margin-right: 40px;
	padding-bottom: 60px;
}
h1, h2, h3, h4{
	line-height: 1.4;
}
h1{
	font-size: 2.25em;
	font-weight: 700;
}
h2{
	font-size: 2em;
	font-weight: 700;
}
h3{
	font-size: 1.5em;
	font-weight: 400;
}
h4{
	font-size: 1.25em;
	font-weight: 400;
}
img{
	width: 100%;
}
a {
	color: #ff7f50;
	text-decoration: none;
}
a:visited{
	color: #ff7f50;
}
a:hover,a:focus{
	color: #cc6540;
	text-decoration: underline;
}
a:active{
	color: #994c30;
}
/*class "button"*/
.button{
	display: inline-block;
	background-color: #2e4272;
	color: #ffffff;
	font-weight: 400;
	padding: 5px;
	border-radius: 6px;
	border-bottom: 2px solid #994c30;
	transition: 0.2s opacity;
}
.button:hover{
	opacity: 0.8;
	text-decoration: none;
}
